.main{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.extension{
    border: none;
    background-color: hsl(226, 25%, 17%);
    width: 350px;

    padding: 1rem;
    border-radius: 1rem;
}

.extension-header{
  display: flex;
  padding: 0.5rem;
  margin-bottom: 1rem;
  gap: 30px;

  justify-content: start;
}

.info h2{
  color: white;
  margin: 0;
}

.info p{
  margin: 0;
  margin-top: 5px;
  
  color: hsl(0, 0%, 78%);
}

.options{
  display: flex;
  justify-content: space-between;
  align-items: end;
}


.remove-btn{
  border: none;
  outline: 1px solid hsl(226, 11%, 37%);
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: hsl(226, 25%, 17%);
}

.remove-btn:focus{
  outline: 1px solid hsl(3, 86%, 64%);
  background-color: hsl(226, 11%, 37%);
}

.remove-btn:hover{
  background-color: hsl(3, 86%, 64%);
  outline: none;
  color: black;
}



/* slider */

.switch {       
  position: relative; 
  display: inline-block; 
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(226, 11%, 37%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(3, 86%, 64%);
}

input:focus + .slider {
  /* box-shadow: 0 0 1px hsl(3, 86%, 64%);
   */
  outline: 1px solid hsl(3, 86%, 64%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

