.theme{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 15px;
    border-radius: 20px;

    background-color: hsl(226, 25%, 17%);
}

.lightMode{
    background-color: hsl(225, 23%, 24%);

    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.lightMode:focus{
    outline: 2px solid hsl(3, 86%, 64%);

}

.lightMode:hover{
    background-color: hsl(226, 11%, 37%);
}